<div class="room card">
  <div class="card-body">
    <div class="room-header d-flex">
      <%= link_to user_path(room.owner) do %>
        <%= image_tag profile_image_url(room.owner), class: "profile-image" %>
      <% end %>
      <h3 class="room-title mx-auto"><%= room.title %></h3>
    </div>
    <div class="room-explanation">
      <p class="card-text"><%= room.content %></p>
    </div>
    <div class="shop-name">
      <p class="card-text"><%= link_to "お店", "#" %></p>
    </div>
    <div class="room-links">
      <%= link_to "見る", room_path(room), class: "card-link text-bright" %>
      <%= link_to "入室", join_room_path(room), class: "card-link text-bright" %>
      <%= render 'bookmarks/bookmark_icon', room: room if user_signed_in? %>
    </div>
  </div>
</div>