<% provide(:title, @room.title) %>

<div class="content">
  <div class="rooms-show-main-content d-flex mx-auto">
    <div class="user-card card">
      <%= image_tag profile_image_url(@room.owner), class: "profile-image" %>
      <h2><%= @room.owner.name %></h2>
      <ul class="list-group">
        <li class="list-group-item">
          <%= link_to "Rooms: ", rooms_path(@room.owner) %>
          <%= @room.owner.rooms.count %>
        </li>
        <li class="list-group-item">
          <%= link_to "Following: ", "#" %>
          <%= @room.owner.following.count %>
        </li>
        <li class="list-group-item">
          <%= link_to "Booked: ", bookmarks_path %>
          <%= @room.owner.bookmarks.count %>
        </li>
      </ul>
      <% if current_user && !current_user?(@room.owner) %>
        <div id="follow-button-<%= @room.owner.id %>">
          <%= render 'users/shared/follow_button', user: @room.owner %>
        </div>
      <% end %>
    </div>
    <div class="room-card card">
      <h1><%= @room.title %></h1>
      <p><%= @room.content %></p>
      <div class="room-card-footer d-flex justify-content-around">
        <ul class="room-info list-group">
          <li class="list-group-item"><strong>お店: </strong><%= @room.shop_name %></li>
          <li class="list-group-item"><strong>人数: </strong><%= @room.members.count %> / <%= @room.limit %> 人</li>
          <li class="list-group-item"><strong>日付:</strong><%= @room.display_time %></li>
        </ul>
        <% unless @room.owner? current_user %>
          <% unless @room.member? current_user %>
            <div class="join-room-link" data-toggle="tooltip" data-placement="top" title="部屋に参加する">
              <%= link_to join_room_path do %>
                <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="join-room-icon bi bi-box-arrow-in-right" viewBox="0 0 16 16">
                  <path fill-rule="evenodd" d="M6 3.5a.5.5 0 0 1 .5-.5h8a.5.5 0 0 1 .5.5v9a.5.5 0 0 1-.5.5h-8a.5.5 0 0 1-.5-.5v-2a.5.5 0 0 0-1 0v2A1.5 1.5 0 0 0 6.5 14h8a1.5 1.5 0 0 0 1.5-1.5v-9A1.5 1.5 0 0 0 14.5 2h-8A1.5 1.5 0 0 0 5 3.5v2a.5.5 0 0 0 1 0v-2z"/>
                  <path fill-rule="evenodd" d="M11.854 8.354a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5H1.5a.5.5 0 0 0 0 1h8.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3z"/>
                </svg>
              <% end %>
            </div>
          <% else%>
            <div class="join-room-link" data-toggle="tooltip" data-placement="top" title="部屋から退出する">
              <%= link_to exit_room_path do %>
                <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="join-room-icon bi bi-box-arrow-left" viewBox="0 0 16 16">
                  <path fill-rule="evenodd" d="M6 12.5a.5.5 0 0 0 .5.5h8a.5.5 0 0 0 .5-.5v-9a.5.5 0 0 0-.5-.5h-8a.5.5 0 0 0-.5.5v2a.5.5 0 0 1-1 0v-2A1.5 1.5 0 0 1 6.5 2h8A1.5 1.5 0 0 1 16 3.5v9a1.5 1.5 0 0 1-1.5 1.5h-8A1.5 1.5 0 0 1 5 12.5v-2a.5.5 0 0 1 1 0v2z"/>
                  <path fill-rule="evenodd" d="M.146 8.354a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L1.707 7.5H10.5a.5.5 0 0 1 0 1H1.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3z"/>
                </svg>
              <% end %>
            </div>
          <% end %>
        <% else %>
          <div class="edit-room-link" data-toggle="tooltip" data-placement="top" title="部屋を編集する">
            <%= link_to edit_room_path do %>
              <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="edit-room-icon bi bi-pencil-fill" viewBox="0 0 16 16">
                <path d="M12.854.146a.5.5 0 0 0-.707 0L10.5 1.793 14.207 5.5l1.647-1.646a.5.5 0 0 0 0-.708l-3-3zm.646 6.061L9.793 2.5 3.293 9H3.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.207l6.5-6.5zm-7.468 7.468A.5.5 0 0 1 6 13.5V13h-.5a.5.5 0 0 1-.5-.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.5-.5V10h-.5a.499.499 0 0 1-.175-.032l-.179.178a.5.5 0 0 0-.11.168l-2 5a.5.5 0 0 0 .65.65l5-2a.5.5 0 0 0 .168-.11l.178-.178z"/>
              </svg>
            <% end %>
          </div>
          <div class="destroy-room-link">
            <%= link_to room_path(@room), method: :delete, data: { confirm: "削除しますか？" } do %>
              <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="destroy-room-icon bi bi-trash" viewBox="0 0 16 16">
                <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>
                <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4L4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>
              </svg>
            <% end %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
  <div class="user-page-content">
    <div class="collapse-links">
      <a class="collapse-link selected" data-toggle="collapse" href="#rooms" role="button" aria-expanded="false" aria-controls="rooms" onclick="$('#following').collapse('hide')">メンバー</a>
      <a class="collapse-link" data-toggle="collapse" href="#following" role="button" aria-expanded="false" aria-controls="following" onclick="$('#rooms').collapse('hide')">ブックマーク</a>
    </div>
    <div class="collapse show" id="rooms">
      <div class="rooms grid">
        <%= render @room.members %>
      </div>
    </div>
    <div class="collapse" id="following">
      <div class="rooms grid">
        <%= render @room.booked_by %></div>
    </div>
  </div>
</div>

<script>
  var collapseLink = $('.collapse-link');
  collapseLink.on('click', function() {
    collapseLink.removeClass('selected');
    $(this).addClass('selected');
  })
</script>