<a class="menu-toggle rounded" href="#">
  <i class="fas fa-bars"></i>
</a>
<nav id="sidebar-wrapper">
  <ul class="sidebar-nav">
    <li class="sidebar-brand">
      <%= link_to "相席アプリ", root_path, class: "js-scroll-trigger" %>
    </li>
    <li class="sidebar-nav-item">
      <%= link_to "Home", root_path, class: "js-scroll-trigger" %>
    </li>
    <li class="sidebar-nav-item">
      <%= link_to "ユーザー一覧", users_path %>
    </li>
    <li class="sidebar-nav-item">
      <%= link_to "ルーム一覧", rooms_path %>
    </li>
    <% if user_signed_in? %>
      <li class="sidebar-nav-item">
        <%= link_to "プロフィール", user_path(current_user) %>
      </li>
      <li class="sidebar-nav-item">
        <%= link_to "ログアウト", destroy_user_session_path, method: :delete %>
      </li>
    <% else %>
      <li class="sidebar-nav-item">
        <%= link_to "サインイン", new_user_session_path %>
      </li>
    <% end %>
  </ul>
</nav>